@import "@picocss/pico";

:root {
  font-size: 1rem;
}

body {
  max-width: 1200px !important;
}

img {
  border-radius: 10px;
}

.success {
  color: #7ecb9f;
}

.warning {
  color: #d3bb82;
}

.error {
  color: #cb6461;
}

.info {
  color: #5c84c1;
}

.grid-3-to-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
}
